#!/bin/bash
#
# This script will be sourced in bash context.
# This means you can use bash functionality to your liking.

mkdir -p $DISTDIR/lib
mkdir -p $DISTDIR/include/image_source
mkdir -p build

# handle the make -j option from the caller.
BUILD_OPT="--build ."
unset MAKEFLAGS
if [[ "${2}" != "" ]]; then
  BUILD_OPT="--build . -j ${2}"
# or use all but 4 procs on system
# (minimum nproc is always 1)
elif command -v nproc &> /dev/null; then
  NPROC=$(nproc --all --ignore=4)
  BUILD_OPT="--build . -j${NPROC}"
fi

cmake \
    -DCMAKE_BUILD_TYPE=$1 \
    -DBUILD_TESTS=0 \
    -DBoost_NO_BOOST_CMAKE=ON \
    -DBoost_NO_SYSTEM_PATHS=ON \
    -DCMAKE_PREFIX_PATH=$KARABO/extern \
    -DCMAKE_INSTALL_PREFIX=$DISTDIR \
    -B build .
pushd build
cmake $BUILD_OPT
popd
$(cp build/imageSource/lib*.so $DISTDIR/lib/. | true)
$(cp src/*.hh $DISTDIR/include/image_source/. | true)
$(patchelf --force-rpath --set-rpath '$ORIGIN/../../lib:$ORIGIN/../lib64:$ORIGIN' $DISTDIR/lib/libimageSource.so)
